* {
  margin: 0;
  padding: 0; }

html, body {
  font-family: 'Roboto', Helvetica, sans-serif; }

h3 {
  float: left; }

.full-width-div {
  width: 100%; }

.container {
  max-width: 1200px; }

.img-fluid {
  overflow: hidden; }

.carousel-control-prev,
.carousel-control-next {
  background-color: #fff;
  width: 6%;
  top: 40px; }

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important; }

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important; }

.large-carousel {
  display: block; }

.small-carousel {
  display: none; }

.footer-copyright p {
  font-size: 14px;
  margin-top: 15px; }

@media only screen and (max-width: 600px) {
  .large-carousel {
    display: none; }
  .small-carousel {
    display: block; } }

.no-gutters > [class*=col-] {
  margin: 0.5%; }

.col-3 {
  max-width: 24%; }

.col-6 {
  max-width: 49%; }

.news-container {
  height: 200px;
  width: 200px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 50px;
  margin-left: calc(100% - 250px); }
  .news-container .news-close {
    z-index: 200;
    position: absolute;
    bottom: 145px;
    margin-left: calc(100% - 50px);
    background-color: #343a40;
    height: 50px;
    width: 50px;
    border-radius: 100%; }
    .news-container .news-close p {
      position: absolute;
      top: 12px;
      left: 18px;
      font-weight: 800;
      color: white; }
  .news-container .news-modal {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 100%;
    z-index: 20;
    background-image: url("http://placekitten.com/200/200");
    background-position: center;
    background-size: cover;
    overflow: hidden; }
    .news-container .news-modal p {
      position: absolute;
      top: 83px;
      left: 10px;
      font-weight: 800;
      color: white; }

footer {
  background-color: #343a40; }
  footer img {
    height: 50px;
    width: 50px; }
  footer p {
    color: #fff; }

.bg-dark {
  background-color: #00A8A8 !important; }

.navbar-dark .navbar-nav .nav-link {
  color: white; }

.dropdown-menu {
  background-color: #00A8A8;
  color: #fff;
  border: none; }

.rightside-nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .rightside-nav a {
    color: #fff; }

/* =======================================
  TOOLS
========================================= */
.tools {
  width: 100%;
  height: 300px;
  background-color: #e8e8e8; }

.hr-big-red {
  border-top: 2px solid darkred; }

.img-fluid {
  border-radius: .25rem;
  -webkit-box-shadow: 0px 2px 4px 1px #d4b3b3;
  box-shadow: 0px 2px 4px 1px #d4b3b3;
  margin: 20px; }

footer {
  background-color: #00A8A8 !important; }

.footerflex {
  margin: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .footerflex p {
    font-size: 22px;
    border-bottom: 2px solid darkred; }

.footer-box-one {
  min-width: 330px;
  margin: 10px; }
  .footer-box-one ul {
    list-style-type: none; }
  .footer-box-one a {
    color: white; }

.Footer-box-two {
  min-width: 330px;
  margin: 10px; }
  .Footer-box-two ul {
    list-style-type: none; }
  .Footer-box-two a {
    color: white; }

.Footer-box-three {
  min-width: 330px;
  margin: 10px; }
  .Footer-box-three ul {
    list-style-type: none; }
  .Footer-box-three a {
    color: white; }
